{% extends "base.html" %}
{% block content %}
  <h1>TODO list <a href="{% url "app:task-create" %}">Add task</a></h1>
  {% for task in tasks %}
    <h3>{{ task.content }}
      {% if task.is_done %}
        <label class="done">Done</label>
      {% else %}
        <label class="not_done">Not done</label>
      {% endif %}
    </h3>
    <p>Created: {{ task.created }}</p>
    <h3 class="tags">
      Tags: 
      {% for tag in task.tags.all %}
        <a href="{% url "app:tag-update" pk=tag.id %}">{{ tag }}</a>
      {% endfor %}
    </h3>
  {% endfor %}
{% endblock %}
